@charset "utf-8";
/*------------------------------------------------------------
	??????
------------------------------------------------------------*/
#gNavi .navi01 img {
	visibility: hidden;
}

#main p {
	margin-bottom: 32px;
	line-height: 2;
}

#main .title {
	margin-bottom: 16px;
}

#main .title01 {
	margin-bottom: 12px;
	font-family: 'EB Garamond', serif;
	font-size: 20px;
	line-height: 1.2;
}

#main .text {
	margin-bottom: 24px;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.85;
}

#main .item01 {
	margin-top: 60px;
}

#main .comDlBox {
	margin-bottom: 135px;
}

#main .comDlBox01 {
	margin-bottom: 60px;
}

#main .comDlBox01 dd {
	padding-bottom: 13px;
}

#main .comDlBox01 dd small {
	display: block;
	font-size: 12px;
	padding-top: 0.2em;
}

#main .comDlBox01 .rDl dt {
	font-size: 14px;
}

#main .comDlBox01 .rDl dd {
	padding-left: 7.7em;
}

#main .comDlBox01 .rDl .ddStyle {
	padding-bottom: 38px;
	line-height: 1.77;
}

#main .photoList li {
	float: left;
	font-size: 12px;
	text-align: center;
	margin-left: 45px;
}

#main .photoList li img {
	margin-bottom: 12px;
	width: 290px;
}

#main .photoList li:first-child {
	margin-left: 0;
}

@media all and (min-width: 767px) {
	#main .comPhoto {
		background: url(../img/about/photo01.jpg) no-repeat center top;
	}

	#main .comPhoto05 {
		background: url(../img/about/photo05.jpg) no-repeat center top;
		margin-bottom: 83px;
		height: 700px;
		text-align: center;
	}
}

@media all and (min-width: 0) and (max-width: 766px)  {
	#main p {
		margin-bottom: 28px;
		line-height: 1.83;
	}

	#main .title {
		margin-bottom: 9px;
	}

	#main .title01 {
		margin-bottom: 8px;
		font-size: 17px;
	}

	#main .text {
		margin-bottom: 20px;
		font-size: 12px;
		line-height: 1.67;
	}

	#main .comDlBox {
		margin-bottom: 90px;
	}

	#main .comDlBox01 {
		margin-bottom: 25px;
	}

	#main .comDlBox01 dl {
		margin-bottom: 15px;
	}

	#main .comDlBox01 dd {
		padding-bottom: 8px;
		height: auto !important;
	}

	#main .comDlBox01 dd small {
		display: block;
		font-size: 10px;
		padding-top: 0.2em;
	}

	#main .comDlBox01 .rDl dt {
		font-size: 11px;
	}

	#main .comDlBox01 .rDl dd {
		padding: 0 0 5px;
	}

	#main .comDlBox01 .rDl .ddStyle {
		padding-bottom: 5px;
		line-height: 1.63;
	}

	#main .photoList li {
		float: none;
		font-size: 10px;
		margin: 0 0 28px 0;
		float: none;
	}

	#main .photoList li:last-child {
		margin-bottom: 0;
	}

	#main .photoList li img {
		margin-bottom: 8px;
		width: 100%;
	}

}
