@charset "utf-8";
/*------------------------------------------------------------
	?????????
------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;

	font-size: 1em;
}

body,
table,
input, textarea, select, option {
	font-family: "游????体", "Yu Gothic", YuGothic, "????角? Pro", "Hiragino Kaku Gothic Pro", "????", "Meiryo", sans-serif;
	line-height: 1.1;
	letter-spacing: 0.02em;
}

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

img {
	vertical-align: top;
}

a,
a:link {
	color: #000;
	text-decoration: none;
}

a:visited {
	color: #000;
}

a:hover {
	color: #aaa;
}

a:active {
	color: #aaa;
}

::selection {
background: #eee;
}
::-moz-selection {
background: #eee;
}

/*------------------------------------------------------------
	書式設定
------------------------------------------------------------*/
/* ?????位置 */
.taLeft { text-align: left !important; }
.taCenter { text-align: center !important; }
.taRight { text-align: right !important; }

/* ?????大??（???） */
.fsP1 { font-size: 1.08em !important; }
.fsP2 { font-size: 1.16em !important; }
.fsP3 { font-size: 1.24em !important; }
.fsP4 { font-size: 1.32em !important; }
.fsP5 { font-size: 1.4em !important; }

/* ?????大??（????） */
.fsM1 { font-size: 0.92em !important; }
.fsM2 { font-size: 0.84em !important; }
.fsM3 { font-size: 0.76em !important; }
.fsM4 { font-size: 0.68em !important; }
.fsM5 { font-size: 0.6em !important; }

/* ?????太? */
.fwNormal { font-weight: normal !important; }
.fwBold { font-weight: bold !important; }

/*------------------------------------------------------------
	微調整用???（※多用?????）
------------------------------------------------------------*/
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.t_center{ text-align:center !important;}

/*------------------------------------------------------------
	汎用????
------------------------------------------------------------*/
	* html .clearfix {
		zoom: 1;
	}

	*+html .clearfix {
		zoom: 1;
	}

.clearfix:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}

/*------------------------------------------------------------
	?????????????時????
------------------------------------------------------------*/
a.tapCtrl, input.tapCtrl,
.tapCtrl a, .tapCtrl input {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.tap {

}

/*------------------------------------------------------------
	?????
------------------------------------------------------------*/
body {
	min-width: 1080px;
	color: #000;
	font-size: 14px;
	line-height: 1.5;
	-webkit-text-size-adjust: none;
}

#container {
	padding-top: 150px;
	text-align: left;
}

#main {
	margin: 0 auto 148px;
}

.spMenu {
	display: none;
}

.spMenuList {
	display: none;
}

.spFooterMenu {
	display: none;
}

li img,
dl img {
	display: block;
	vertical-align: baseline;
}

/*------------------------------------------------------------
	????
------------------------------------------------------------*/
#gHeader {
	padding: 28px 0 26px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #FFF;
	z-index: 1001;
}

#gHeader .hBox {
	margin: 0 39px;
}

#gHeader h1 {
	margin-right: 48px;
	float: left;
}

#gHeader h1 a img,
#gHeader .link a img {
	display: block;
	vertical-align: baseline;
}

#gHeader .link {
	margin-top: 2px;
	float: right;
}

/*------------------------------------------------------------
	gNavi
------------------------------------------------------------*/
#gNavi {
	margin-top: 3px;
	float: left;
}

#gNavi li {
	margin-right: 42px;
	float: left;
}

#gNavi li a {
	display: block;
}

#gNavi .navi02 {
	margin-right: 45px;
}

#gNavi .navi03 {
	margin-right: 47px;
}


#gNavi .navi01 a {
	background: url(../img/common/g_navi01_over.gif) no-repeat left top;
}

#gNavi .navi02 a {
	background: url(../img/common/g_navi02_over.gif) no-repeat left top;
}

#gNavi .navi03 a {
	background: url(../img/common/g_navi03_over.gif) no-repeat left top;
}

#gNavi .navi04 a {
	background: url(../img/common/g_navi04_over.gif) no-repeat left top;
}

/*------------------------------------------------------------
	????
------------------------------------------------------------*/
#gFooter {
	margin: 0 auto;
	padding-bottom: 45px;
	width: 1080px;
	text-align: center;
}

#gFooter p {
	margin-top: 12px;
	color: #8D8D8D;
	font-size: 10px;
}

/*------------------------------------------------------------
	common
------------------------------------------------------------*/
#cover {
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 100;
	background-color: #FFF;
}

/*------------------------------------------------------------
	h2
------------------------------------------------------------*/
#main h2 {
	margin: 0 auto 54px;
	width: 1080px;
	text-align: center;
}

/*------------------------------------------------------------
	h3
------------------------------------------------------------*/
#main h3 {
	margin-bottom: 73px;
	text-align: center;
}

/*------------------------------------------------------------
	comPhoto
------------------------------------------------------------*/
#main .comPhoto {
	margin-bottom: 83px;
	height: 561px;
	text-align: center;
}

/*------------------------------------------------------------
	mainBox
------------------------------------------------------------*/
#main .mainBox {
	margin: 0 auto;
	width: 1080px;
}

#main .mainBox01 {
	margin-bottom: 136px;
	padding: 0 110px;
	width: 860px;
}

#main .mainBox02 {
	padding: 0 60px;
	width: 960px;
}

/*------------------------------------------------------------
	comDlBox
------------------------------------------------------------*/
#main .comDlBox dl {
	width: 440px;
	float: left;
	line-height: 1.57;
}

#main .comDlBox dt {
	float: left;
	font-weight: bold;
}

#main .comDlBox dd {
	padding: 0 0 12px 7.6em;
}

#main .comDlBox .rDl {
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.69;
}

#main .comDlBox .rDl dt {
	font-weight: 500;
}

#main .comDlBox .rDl dd {
	padding-left: 11.3em;
}


/*------------------------------------------------------------
	attention
------------------------------------------------------------*/

#main .attention {
	font-size: 11px !important;
	text-align: left !important;
	display: block !important;
	line-height: 1.6;
}
#main .attention li {
	margin: auto !important;
	width: auto !important;
	list-style: none !important;
	display: flex !important;
}
#main .attention li:before {
	content: "＊";
	width: 1em;
}


.pcNone {
	display: none;
}

.spNone {
	display: block;
}

@media all and (min-width: 0px) and (max-width: 766px) {
	body {
		min-width: inherit;
		font-size: 12px;
	}

	#container {
		padding-top: 59px;
		position: relative;
	}

	#main {
		margin-bottom: 116px;
	}

	.spMenu {
		display: block;
		position: fixed;
		right: 10px;
		top: 9px;
		z-index: 1001;
	}

	.spMenu a {
		padding: 10px;
		display: block;
	}

  .spMenu a nav {
      position: relative;
      width: 40px;
      height: 33px;
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      background-color: #FFE60F;
      padding: 0 0 7px 0;
      -webkit-box-sizing: initial;
      -moz-box-sizing: initial;
      box-sizing: initial;
  }

  .spMenu a .handle {
      background-color: #000;
      height: 1px;
      width: 34%;
      margin: 4% auto;
      transition: all 180ms cubic-bezier(1, 1, 1, 1);
      transition-timing-function: cubic-bezier(1, 1, 1, 1);
			-webkit-transform:perspective(0);
  }

  .spMenu a .close {
      transform: translateY(.4em) rotate(45deg);
  }

  .spMenu a .close:nth-of-type(2) {
      transform: translateY(-.3em) rotate(-45deg);
  }

  .spMenu a .close:nth-of-type(3) {
      opacity: 0;
  }

  .spMenu a .logo {
    height: 80%;
    position: absolute;
    top: -9%;
    left: 10%;
    right: 10%;
    background-image: url(../img/common/logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
		-webkit-transform:perspective(0);
  }

	.spMenuList {
		padding-top: 85px;
		display: block;
		position: fixed;
		right: -108px;
		top: 0;
		height: 100%;
		width: 108px;
		z-index: 1001;
		overflow-y: auto;
		box-sizing: border-box;
		background-color: #F2F2F2;
	}

	.spMenuList li {
		margin-bottom: 12px;
		text-align: right;
	}

	.spMenuList li a {
		padding: 15px 20px 15px 0;
		display: block;
	}

	.spMenuList img {
		margin: 0 auto;
		display: inline;
	}

	/*------------------------------------------------------------
		????
	------------------------------------------------------------*/
	#gHeader {
		display: none;
	}

	/*------------------------------------------------------------
		gNavi
	------------------------------------------------------------*/
	#gNavi {
		display: none;
	}

	/*------------------------------------------------------------
		????
	------------------------------------------------------------*/
	#gFooter {
		padding-bottom: 10px;
		width: auto;
	}

	#gFooter p {
		margin-top: 19px;
		font-size: 9px;
	}

	.spFooterMenu {
		display: block;
		padding: 26px 0;
	}
	.spFooterMenu ul {
		max-width: 280px;
		margin: 0 auto;
		text-align: center;
	}
	.spFooterMenu li {
		display: inline-block;
		width: 30%;
	}

	.spFooterMenu li a {
		padding: 15px;
		display: block;
	}

	/*------------------------------------------------------------
		common
	------------------------------------------------------------*/
	#cover {
		display: none;
	}

	/*------------------------------------------------------------
		h2
	------------------------------------------------------------*/
	#main h2 {
		margin-bottom: 52px;
		width: auto;
	}

	/*------------------------------------------------------------
		h3
	------------------------------------------------------------*/
	#main h3 {
		margin-bottom: 40px;
	}

	/*------------------------------------------------------------
		comPhoto
	------------------------------------------------------------*/
	#main .comPhoto {
		margin-bottom: 44px;
		height: auto;
	}

	#main .comPhoto img {
		width: 100%;
	}

	/*------------------------------------------------------------
		mainBox
	------------------------------------------------------------*/
	#main .mainBox {
		margin: 0 25px;
		width: auto;
	}

	#main .mainBox01 {
		margin-bottom: 98px;
		padding: 0;
		width: auto;
	}

	#main .mainBox02 {
		padding: 0;
		width: auto;
	}

	/*------------------------------------------------------------
		comDlBox
	------------------------------------------------------------*/
	#main .comDlBox dl {
		margin-bottom: 13px;
		width: auto;
		float: none;
		line-height: 1.5;
	}

	#main .comDlBox dt {
		float: none;
	}

	#main .comDlBox dd {
		padding: 0 0 8px;
	}

	#main .comDlBox .rDl {
		margin-bottom: 0;
		float: none;
		font-size: 11px;
		line-height: 1.63;
	}

	#main .comDlBox .rDl dd {
		padding: 0 0 5px;
	}


	/*------------------------------------------------------------
		attention
	------------------------------------------------------------*/
	#main .attention {
		font-size: 10px !important;
	}
	#main .attention li {
		margin: auto !important;
		width: auto !important;
		list-style: none !important;
		display: block !important;
	}
	#main .attention li:before {
		width: 1.0rem;
	}




	.pcNone {
		display: block;
	}

	.spNone {
		display: none;
	}

}
